{% extends 'base/main.html' %}

{% block content %}
    <section id="main">
        
        <div class="proposal-detail-box">
            <div class="content-approval-flex">
                {% if content.video %}
            
                <div class="content-video">
                    <video controls autoplay loop>
                        <source src="{{content.video.url}}" type="video/mp4">
                        Your browser does not support HTML video. Please upgrade your browser.
                    </video>
                </div>

                {% endif %}

                <div class="content-input">
                    {% if content.image %}
                    <div class="content-image">
                        <img src="{{content.image.url}}">
                    </div>

                    {% endif %}
                    <h2 id="amount">${{content.proposal.proposed_amount|floatformat}}</h2>
                    <h2 style="margin-top: 5px;">Content By </h2>
                    <p style="margin-top: 5px;"><b style="text-decoration-line: underline;"> {% if content.proposal.platform == "tiktok" %} {{content.proposal.tiktok_account.display_name | title}} {% else %} {{content.proposal.ig_account.username | title}} {% endif %}</b> </p>
                    <form method="post" action="">
                        {% csrf_token %}
                        <textarea name="remarks" placeholder="Enter Any Remarks" cols="30%" rows="5%"></textarea>
                        <p><input type="checkbox" name="auto-complete" value="True" checked> Auto Complete </input></p>
                        <button id="sendproposal" type="submit">Approve Content <i class="fa-solid fa-check"></i></button>
                    </form>
                    
                </div>

            </div>
            

            
            <div class="button-flex">
               
            </div>

        </div>


    </section>



{% endblock %}
