{% extends 'base/main.html' %}

{% block content %}
    <section id="main">
        {% if account.brand_name and account.email and account.subscription_active %}

        <div class="header-flex">
            <div class="account-info">
                <h1>{{account.brand_name}}</h1>
                <div class="link-flex">
                    {% if account.website %}
                    <a href="{{account.website}}"><i class="fa-solid fa-globe"></i></a>
                    {% endif %}
                    {% if account.email %}
                    <a href="mailto:{{account.email}}"><i class="fa-solid fa-envelope"></i></a>
                    {% endif %}
                    <a href="{% url 'logout' %}"><i class="fa-solid fa-right-from-bracket"></i></a>
                </div>
                <p id="account-type"> Brand</p>
            </div>
            <div class="link-flex-box">
                {% if pending_proposals %}
                <a href="{% url 'pending_content_approval'%}"><button id="header">Content Review</button></a>
                {% endif %}
                <a href="{% url 'brand_proposals'  account.id %}"><button id="header">Your Proposals</button></a>
                
            </div>

        </div>

        <hr>

        <div class="search-flex">

                <form action="" id="search-form">
                    <input type="search" name="search" placeholder="Search Creators By Tags" class="search-box">
                    <button  id="submit" type="submit"><i class="fas fa-search"></i></button>
                
                </form>
    
                <form action="" id="sort-form">
                    <select name="sort" id="sort-select">
                        <option value="all" selected>Default</option>
                        <option value="followers-desc">Followers - High to Low</option>
                        <option value="followers-asc">Followers - Low to High</option>
                    </select>
                    <button id="submit" type="submit"><i class="fa-solid fa-sort"></i></button>
                </form>
        
        </div>


        <div class="creator-grid">
        {% for creator in creators %}
       
            <div class="creator-box">


                <div class="creator-box-header">

                    

                    <div class="social-flex">
                        <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/a/a5/Instagram_icon.png/600px-Instagram_icon.png" alt="instagram logo">
                        <p><b>{{creator.username}}</b></p>
                   
                    </div>

                    <div class="tooltip"><p>{% if creator.audience_country == "None" %} No Data on Audience Country {% else %} <b><i class="fa-solid fa-location-dot"></i> {{creator.audience_country}}</b> {% endif %}</p>
                        <span class="tooltiptext">The Country where most of the creator's audience are based out of</span>
                    </div>
                    

                    

                
                </div>
                
               
                
                <div class="chart-flex">
                    <div class="chart-container">
                        <div class="chart-ring">
                            <div class="donut-chart" style="--percentage: {{creator.engagement_rate}};">
                                <div class="percentage-text">{{creator.engagement_rate}}%</div>
                                
                            </div>
                            <p>Engagement <br> Rate</p>
                        </div>
                               
                    </div>

                    

                    
    
                    <div class="rate-flex">
                        
                        <h1 id="rate"> $ {{creator.average_rate | floatformat}} </h1>
                        <p>Avg Cost</p>
                    </div>
                </div>
                
                <h1 id="rate">{% if creator.followers > 1000 %} {% widthratio creator.followers 1000 1 %}k <span id="followers">Followers</span> {% else %} {{creator.followers}} <span id="followers">Followers</span> {%endif%} </h1>
                
                <!--
                <div class="social-image">
                    {% if creator.dashboard_img %}
                    <img src = {{creator.dashboard_img}}>
                    {% else %}
                    <img src="https://edgy.app/wp-content/uploads/2017/07/instagram-account.jpg">
                    {% endif %} 
                    
                </div>
                
                -->
                

                

                <div class="tags">
                    <p>{% if creator.tags %}{{creator.tags}}{% else %} No Tags {%endif%}</p>
                </div>
                
                

                
                

                
                <a href="{% url 'create_brand_proposal' creator.creator.id %}"><button>Send Proposal</button></a>
            </div>

        {% empty %}
        </div>
            
        <h2>No Results Match Your Query</h2>

        {% endfor %}

        {% elif not account.subscription_active %}

        <script type="text/javascript">
            // Redirect after 5 seconds to the profile update page
            setTimeout(function() {
                window.location.href = "{% url 'brand_subscription' account.id %}";
            }, 5000); 
            // 5000 milliseconds = 5 seconds

        </script>

        <h1>Your Brand Subscription Has Expired !!!</h1>
        <hr>

        <p>Subscribe to Pluence for as low as $5</p>
        
        <p><a href="{% url 'brand_subscription' account.id %}">Click here if you're not redirected</a></p>

        {% else %}

        <h1>Complete Your Brand Profile !!</h1>
        <hr>

        <p>Add More Info to your profile for better interactions with creators</p>
        <i>Here's Some of the Information You'll need : </i>
        <ul>
            <li><p><b>Brand Name</b></p></li>
            <li><p><b>Brand's Email</b></p></li>
            <li><p><b>Description (for better reach with creators)</b></p></li>
        </ul>

        <a href="{% url 'brand_profile_update' account.id %}"><button>Update Profile</button></a>

        {% endif %}

    </section>

    

{% endblock %}