{% extends 'base/main.html' %}

{% block content %}
    <section id="main">

        <h1>Content Approval Requests</h1>
            
        <h2>Tiktok Proposals</h2>
        <div class="proposal-container">
            <div class="proposal-row-header-ig">
                <p>Brand</p>
                <p>Timeline</p>
                <p>Actions Required</p>
                <p>Amount</p>
                <p>View</p>
                
            </div>
            {% for proposal in tiktok_pending_proposals %}
            <div class="proposal-row-ig">

                <p>{{proposal.brand.brand_name}}</p>
                <p>{{proposal.timeline}} Days</p>
                
                <p style="font-size: 16px; font-weight: 700;">Content Approval</p>
                <p id="bold">${{proposal.proposed_amount|floatformat}}</p>
                <p><a href="{% url 'brand_content_review' proposal.id %}">Approve <i class="fa-solid fa-up-right-from-square"></i> </a></p>
                     
            </div> 
            {% empty %}

            <p>You don't have any Deals That Need Content Approval Right Now</p>

            {% endfor %}
        </div>
    

            
        <h2>Instagram Proposals</h2>
        <div class="proposal-container">
            <div class="proposal-row-header-ig">
                <p>Brand</p>
                <p>Timeline</p>
                <p>Actions Required</p>
                <p>Amount</p>
                <p>View</p>
                
            </div>
            {% for proposal in ig_pending_proposals %}
            <div class="proposal-row-ig">

                <p>{{proposal.brand.brand_name}}</p>
                <p>{{proposal.timeline}} Days</p>
                
                <p style="font-size: 16px; font-weight: 700;">Content Approval</p>
                <p id="bold">${{proposal.proposed_amount|floatformat}}</p>
                <p><a href="{% url 'brand_content_review' proposal.id %}">Approve <i class="fa-solid fa-up-right-from-square"></i> </a></p>
                     
            </div> 
            {% empty %}

            <p>You don't have any Deals That Need Content Approval Right Now</p>

            {% endfor %}
        </div>

    </section>
    

{% endblock %}
