{% extends 'base/main.html' %}


{% block content %}

    <section id="main">
        <!--
             <div class="header-flex">
            <div class="account-info">
                <h1>{{account.brand_name}}</h1>
                <div class="link-flex">
                    {% if account.email %}
                    <a href="mailto:{{account.email}}"><i class="fa-solid fa-envelope"></i></a>
                    {% endif %}
                    <a href="{% url 'logout' %}"><i class="fa-solid fa-right-from-bracket"></i></a>
                </div>    
            </div>
           <div class="link-flex-box">
            <a href="{% url 'home' %}"><button id="header">Home</button></a>
           </div>
            
    
        </div>
        -->
       <h1>Your Proposals</h1>
        
        <hr>

            {% if accepted_proposals %}
            <h2>Payment Pending</h2>
            <div class="active-proposal-box">
            {% for proposal in accepted_proposals %}

            <div class="active-proposal-flex">
                <p style="color: rgb(16, 151, 241); text-decoration: underline;"><a href="{{proposal.creator.website}}"></a>{{proposal.account.username}}</p>
                <p id="sub">{{proposal.proposal_status}}</p>
                <p id="sub">{{proposal.content_type}}</p>
                <p id="sub">{{proposal.timeline}} Days</p>
                <p id="amount">${{proposal.proposed_amount|floatformat}}</p>
                <a href="{% url 'brand_proposal_payment' proposal.id %}"><button id="proposal-view">Pay</button></a>
            
            </div>
            
            {% endfor %}

            {% endif %}

            {% if paid_proposals %}
            <h2>Active Campaigns</h2>
            <div class="active-proposal-box">
            {% for proposal in paid_proposals %}

            <div class="active-proposal-flex">
                <p style="color: rgb(16, 151, 241); text-decoration: underline;"><a href="{{proposal.creator.website}}"></a>{{proposal.account.username}}</p>
                <p id="sub">{{proposal.proposal_status}}</p>
                <p id="sub">{{proposal.content_type}}</p>
                <p id="sub">{{proposal.timeline}} Days</p>
                <p id="amount">${{proposal.proposed_amount|floatformat}}</p>
                <a href="{% url 'creator_proposal_detail' proposal.id %}"><button id="proposal-view">View</button></a>
            
            </div>
            
            {% endfor %}

            {% endif %}

            {% if proposals %}
            <h2>Brand Proposals</h2>
            <div class="active-proposal-box">
            {% for proposal in proposals %}

            <div class="active-proposal-flex">
                <p style="color: rgb(16, 151, 241); text-decoration: underline;"><a href="{{proposal.creator.website}}"></a>{{proposal.account.username}}</p>
                <p>{{proposal.proposal_status}}</p>
                <p id="sub">{{proposal.content_type}} Content</p>
                <p id="sub">{{proposal.timeline}} Days</p>
                <p id="amount">${{proposal.proposed_amount|floatformat}}</p>
                <a href="{% url 'creator_proposal_detail' proposal.id %}"><button id="proposal-view">View</button></a>
            </div>
                
            {% endfor %}

            {% else %}
                <p>You have no Pending Brand Proposals</p>
            {% endif %}
            

        </div>

    </section>

{% endblock %}
 
 
 
    


    

