{% extends 'base/main.html' %}

{% block content %}

    <section id="main">

            <div class="proposal-detail-box">
                <h2 id="amount">${{proposal.proposed_amount|floatformat}}</h2>
                <h2 style="margin-top: 5px;">Brand Proposal {% if proposal.creator.name %} For <b style="text-decoration-line: underline;">{{proposal.creator.name | title}}</b> {% endif %}</h2>
                {% if proposal.description %}
                <p id="description">{{proposal.description}}</p>
                {% endif %}

                <div class="proposal-detail-flex">
                    <h2>Platform</h2>
                    <p id="sub">{% if proposal.platform == "tiktok" %}<i class="fa-brands fa-tiktok"></i> Tiktok {%else%} <i class="fa-brands fa-instagram"> </i> Instagram{% endif %}</p>
                </div>


                {% if proposal.duration_left %}
                    <h2>{{proposal.duration_left.days}} Days Left</h2>
                {% else %}

                <div class="proposal-detail-flex">
                    <h2>Timeline</h2>
                    <p id="sub">{{proposal.timeline}} Days</p>
                </div>

                {% endif %}

                

                <div class="proposal-detail-flex">
                    <h2>Content Type</h2>
                    <p id="sub">{{proposal.content_type}}</p>
                </div>

                {% if proposal.item_link %}
                <a href="{{proposal.item_link}}"><button id="header">Item Link</button></a>
                {% endif %}

                <div class="proposal-detail-flex">
                    <h2>Deal Status</h2>
                    <p id="sub">{{proposal.proposal_status}}</p>
                </div>

                
            

                
            </div>

    </section>

{% endblock %}