{% extends 'base/main.html' %}

{% block content %}

<section id="main">
    <h1>Submit Content For Approval</h1>
    <form method="post" enctype="multipart/form-data">
        {% csrf_token %}
        <section id="form">
        <p>Images (if any) </p>
        <input type="file" name="image" accept=".png,.jpg,.pdf">

        <p>Video Content</p>
        <input type="file" name ="video" accept =".mp4">

        <button type="submit">Send For Approval</button>
        </section>
        
        

        
    </form>
</section>


{% endblock %}
