{% extends 'base/main.html' %}

{% block content %}
    <section id="main">
    
        <h1>Payment Dashboard</h1>
        <hr>
        <div class="payment-flex">
            <h1 id="payment">
                ${% if creator.balance %} {{creator.balance}} {% else %}0.0 {% endif %}
            </h1>
            <div class="tooltip"><p id="sub">+ $<span id="tooltip-underline">{{pending_payment}}</span></p>
                <span class="tooltiptext">5% Platform Fee On Every Deal</span>
            </div>
            
        </div>


        <h2>Pending Payment</h2>
        <div class="proposal-container">
            <div class="proposal-row-header-ig">
                <p>Platform</p>
                <p>Brand</p>
                <p>Date Paid</p>
                <p>Payment</p>
                <p>Deal Status</p>
                
                
            </div>
            {% for proposal in paid_proposals %}
            <a href="{% url 'creator_proposal_detail' proposal.id %}" style="text-decoration: none;">
                <div class="proposal-row-ig">
                    <p>{% if proposal.platform == "tiktok" %} <i class="fa-brands fa-tiktok"></i> {% else %} <i class="fa-brands fa-instagram"></i> {% endif %}</p>
                    <p>{{proposal.brand.brand_name}}</p>
                    <p>{{proposal.date_paid.day}} - {{proposal.date_paid.month}} - {{proposal.date_paid.year}}</p>
                    <p id="bold">${{proposal.proposed_amount|floatformat}}</p>
                    <p>{{proposal.proposal_status}}</p>
                        
                </div> 
            </a>
            
            {% empty %}
                <p>No Paid Brand Deals</p>
            {% endfor %}
        </div>


       

    </section>

{% endblock %}