{% extends 'base/main.html' %}

{% block content %}
    <section id="main">
        
        
        <!--
        <div class="header-flex">
            <div class="account-info">
                <h1>{{account.name}}</h1>
                <div class="link-flex">
                    {% if account.website %}
                    <a href="{{account.website}}"><i class="fa-solid fa-globe"></i></a>
                    {% endif %}
                    {% if account.contact_email %}
                    <a href="mailto:{{account.contact_email}}"><i class="fa-solid fa-envelope"></i></a>
                    {% endif %}
                    <a href="{% url 'logout' %}"><i class="fa-solid fa-right-from-bracket"></i></a>
                </div>
            </div>
            <div class="link-flex">
            
            <a href="{% url 'home' %}"><button id="header">Home</button></a>
            
            </div>
            
        </div>

        -->

        <h1>Active Proposals</h1>

        <hr>
        
        {% if ig_active_proposals %}
        <h2>Instagram Active Deals</h2>
        <div class="proposal-container">
            <div class="proposal-row-header-ig">
                <p>Brand</p>
                <p>Timeline</p>
                <p>Duration Left</p>
                <p>Actions Required</p>
                <p>Amount</p>
                <p>View</p>
                
            </div>
            {% for proposal in ig_active_proposals %}
            <div class="proposal-row-ig">

                <p>{{proposal.brand.brand_name}}</p>
                <p>{{proposal.timeline}} Days</p>
                <p>{% if proposal.duration_left.days > 0 %}{{proposal.duration_left.days}} {% else %} Deal Expired{% endif %}</p>
                <p>{%if proposal.proposal_status == "Content Approval Pending" %} Submit Content For Approval {% else %} {{proposal.proposal_status}} {% endif %}</p>
                <p id="bold">${{proposal.proposed_amount|floatformat}}</p>
                <p><a href="{% url 'creator_proposal_detail' proposal.id %}">View Proposal</a></p>
                    


                <!--
                <div class="button-flex">
                    <div class="button-accept-flex">
                        <a href="#"><button id="accept"><i class="fa-solid fa-check"></i></button></a>
                        <a href="#"><button id="reject"><i class="fa-solid fa-xmark"></i></button></a>
                    </div>
                    
                </div>
                
                --> 
            </div> 
        </div>
            {% endfor %}
        {% else %}
        <p>You don't have any Instagram Brand Proposals Right Now</p>
        
        {% endif %}
        </div>
        {% if tiktok_active_proposals %}
        <h2>Tiktok Active Deals</h2>
        <div class="proposal-container">
            <div class="proposal-row-header-ig">
                <p>Brand</p>
                <p>Timeline</p>
                <p>Duration Left</p>
                <p>Actions Required</p>
                <p>Amount</p>
                <p>View</p>
                
            </div>
            {% for proposal in tiktok_active_proposals %}
            <div class="proposal-row-ig">

                <p>{{proposal.brand.brand_name}}</p>
                <p>{{proposal.timeline}} Days</p>
                
                <p>{% if proposal.duration_left.days > 0 %}{{proposal.duration_left.days}} {% else %} Deal Expired{% endif %}</p>
                
                <p>{%if proposal.proposal_status == "Brand Deal Active" %} Submit Content For Approval {% endif %}</p>
                <p id="bold">${{proposal.proposed_amount|floatformat}}</p>
                <p><a href="{% url 'creator_proposal_detail_with_slug' proposal.id 'tiktok' %}">View Proposal</a></p>
                     
            </div> 
            {% endfor %}
        </div>
        {% else %}
        <p>You don't have any Tiktok Brand Proposals Right Now</p>
        {% endif %}
        
        {% if ig_active_proposals is None and tiktok_active_proposals is None %}
        <p>Sorry , you don't have any Active Deals right now</p>
        {% endif %}
    </section>

{% endblock %}