{% extends 'base/main.html' %}

{% block content %}

    <section id="main">
        <div class="header-flex">
            <div class="account-info">
                <h1>{{proposal.creator.name}}</h1>
                <div class="link-flex">
                    {% if proposal.creator.contact_email %}
                    <a href="mailto:{{proposal.creator.contact_email}}"><i class="fa-solid fa-envelope"></i></a>
                    {% endif %}
                    {% if proposal.creator.website %}
                    <a href="{{proposal.creator.website}}"><i class="fa-solid fa-globe"></i></a>
                    {% endif %}
                </div>    
            </div>
           
            <a href="{% url 'home' %}"><button id="header">Home</button></a>

        </div>
        
        
        <hr>

            <div class="proposal-detail-box">
                <div class="brand-image">
                    <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRrP-nJ_gjguvf8-Kf7pS7_CS1FkEYR_spJpw&s">
                </div>
                <h2 id="amount">${{proposal.proposed_amount|floatformat}}</h2>
                <h2 style="margin-top: 5px;">Brand Proposal From <b style="text-decoration-line: underline;">{{proposal.brand.brand_name | title}}</b></h2>
                {% if proposal.description %}
                <p id="description">{{proposal.description}}</p>
                {% endif %}

                {% if proposal.duration_left %}
                    <h2>{{proposal.duration_left.days}} Days Left</h2>
                {% else %}

                <div class="proposal-detail-flex">
                    <h2>Timeline</h2>
                    <p id="sub">{{proposal.timeline}} Days</p>
                </div>

                {% endif %}

                

                <div class="proposal-detail-flex">
                    <h2>Content</h2>
                    <p id="sub">{{proposal.content_type}}</p>
                </div>


                    {% if proposal.item_link %}
                    <a href="{{proposal.item_link}}"><button id="header">Item Link</button></a>
                    {% endif %}

                
                    
                
                <div class="button-flex">
                    {% if proposal.proposal_status == "Paid" or proposal.proposal_status == "Accepted" %}
                        <a href="{% url 'content_approval' proposal.id %}"><button id="view">Submit For Approval</button></a>

                    {% else %}
                        <a href="{% url 'accept_brand_proposal' proposal.id %}"><button id="view">Accept Brand Proposal</button></a>
                        <div class="button-accept-flex">
                            <a href="{% url 'reject_brand_proposal' proposal.id %}"><button id="reject"><i class="fa-solid fa-xmark"></i></button></a>
                        </div>

                    {% endif %}
                        
                </div>


                

                


                
            </div>

    </section>

{% endblock %}