{% extends 'base/main.html' %}

{% block content %}

    <section id="main">
           

            <div class="proposal-detail-box">
                <h2 id="amount">${{proposal.proposed_amount|floatformat}}</h2>
                <h2 style="margin-top: 5px;">Brand Proposal From <b style="text-decoration-line: underline;">{{proposal.brand.brand_name | title}}</b></h2>
                {% if proposal.description %}
                <p id="description">{{proposal.description}}</p>
                {% endif %}

                <div class="proposal-detail-flex">
                    <h2>Platform</h2>
                    <p id="sub">{% if proposal.platform == "tiktok" %}<i class="fa-brands fa-tiktok"></i> Tiktok {%else%} <i class="fa-brands fa-instagram"> </i> Instagram{% endif %}</p>
                </div>

                {% if proposal.duration_left %}
                    <div class="proposal-detail-flex">
                        <h2>Days Left</h2>
                        <p id="sub">{% if proposal.duration_left.days < 0 %} <span style="color: rgb(211, 14, 14);"> Deal Expired !!</span> {% else %} {{proposal.duration_left.days}} Day{% if proposal.duration_left.days > 1%}s{%endif%} {% endif %}</p>
                     </div>

                {% else %}

                <div class="proposal-detail-flex">
                    <h2>Timeline</h2>
                    <p id="sub">{{proposal.timeline}} Days</p>
                </div>

                

                {% endif %}

                
                {% if proposal.platform == "instagram" %} 
                    <div class="proposal-detail-flex">
                        <h2>Content</h2>
                        <p id="sub">{{proposal.content_type}}</p>
                    </div>
                {% endif %}
                
                <div class="proposal-detail-flex">
                    <h2>Deal Status</h2>
                    <p id="sub">{{proposal.proposal_status}}</p>
                </div>

            
                {% if proposal.product_link %}
                <a href="{{proposal.product_link}}" target="_blank"><button id="header">Item Link</button></a>
                {% endif %}

                             
            </div>

    </section>

{% endblock %}