{% extends 'base/main.html' %}

{% block content %}
    <section id="main">

        <h1>Creator Search</h1>
        <div class="search-flex">
                <form action="" id="combined-form">
                    <div id="search-form">
                        <input type="search" name="search" placeholder="Search Creators By Tags" class="search-box">
                            <select name="sort" id="sort-select">
                                <option value="" selected>Default</option>
                                <option value="followers-desc">Followers - High to Low</option>
                                <option value="followers-asc">Followers - Low to High</option>
                            </select>
                        <button  id="submit" type="submit"><i class="fas fa-search"></i></button>
                    </div>
                    <div id="social-media-type">
                        <a href="{% url 'demo' %}"><i class="fa-brands fa-instagram"></i></a>
                        <a href="{% url 'demo_with_slug' slug='tiktok' %}"><i class="fa-brands fa-tiktok"></i></a>
                    </div>
                    
                    
                    
                </form>
        </div>

                {% if social_media == "instagram" %}
                <div class="creator-grid">
                    {% for creator in creators %}

                        <div class="creator-box">
                        
                            <!--
                            <div class="creator-box-header"></div>
                            -->
                        

                            <div class="social-flex">
                                <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/a/a5/Instagram_icon.png/600px-Instagram_icon.png" alt="instagram logo">
                                <p><b>{{creator.username}}</b></p>
                            
                            </div>

                            <div class="chart-flex">
                                <div class="chart-container">
                                    <div class="chart-ring">
                                        <div class="donut-chart" style="--percentage: {{creator.engagement_rate}};">
                                            <div class="percentage-text">{{creator.engagement_rate}}%</div>

                                        </div>
                                        <p><b>Engagement <br> Rate</b></p>
                                    </div>

                                </div>
                            

                            

                            
                                <div class="rate-flex">

                                    <h1 id="rate"> $ {{creator.average_rate | floatformat}} </h1>
                                    <p>Avg Cost</p>


                                </div>
                            

                            </div>

                            <h1 id="rate">{% if creator.followers > 1000 %} {% widthratio creator.followers 1000 1 %}k <span id="followers-2">Followers</span> {% else %} {{creator.followers}} <span id="followers-2">Followers</span> {%endif%} </h1>

                            <!--
                            <div class="social-image">
                                {% if creator.dashboard_img %}
                                <img src = {{creator.dashboard_img}}>
                                {% else %}
                                <img src="https://edgy.app/wp-content/uploads/2017/07/instagram-account.jpg">
                                {% endif %} 

                            </div>

                            -->

                            <div class="tooltip"><p>{% if creator.audience_country == "None" %} No Data on Audience Country {% else %} <b><i class="fa-solid fa-location-dot"></i> {{creator.audience_country}}</b> {% endif %}</p>
                                <span class="tooltiptext">The Country where most of the creator's audience are based out of</span>
                            </div>


                        
                            <div class="tags">
                                <p>{% if creator.tags %}{{creator.tags}}{% else %} No Tags {%endif%}</p>
                            </div>

                            <a href="{% url 'demo_sendproposal' %}"><button id="sendproposal">Send Proposal <i class="fa-solid fa-paper-plane"></i> </button></a>
                        </div>
                    
                
                    {% empty %}
                    </div>

                    <h2>No Results Match Your Query</h2>
                
                    {% endfor %}
                </div>

                {% elif social_media == "tiktok" %}
                    <div class="creator-grid">
                        {% for tiktok_dashboard in creators %}
                        <div class="tiktok-creator-box">
                            <div class="tiktok-profile-flex">
                                <div class="tiktok-profile">
                                    <img id="avatar" src="{{tiktok_dashboard.avatar_url}}">
                                </div>
                                <div class="tiktok-price">
                                    <h1 id="tiktok-rate">$ {{tiktok_dashboard.pricing_per_promotion | floatformat }}</h1>
                                    <span id="subtext">/promotion</span>
                                </div>
                            </div>
                            <div class="social-flex-tiktok">
                                <p><b>@<a href="" target="_blank">{{tiktok_dashboard.display_name}}</a> {% if tiktok_dashboard.is_verified %} <i class="fa-solid fa-circle-check" style="color: #24a0ff;"></i> {% endif %}</b></p> 
                            </div>
                            
                        
                            
                            <div class="chart-flex">
                                <div class="chart-container">
                                    <div class="chart-ring">
                                        <div class="donut-chart" style="--percentage: {{tiktok_dashboard.engagement_rate}};">
                                            <div class="percentage-text">{{tiktok_dashboard.engagement_rate}}%</div>
                                        </div>
                                        <p>Engagement <br> Rate</p>
                                    </div>
                                
                                </div>
                                <div class="tiktok-rate-flex">
                                    <p>{% if tiktok_dashboard.likes_count > 1000000 %} {% widthratio tiktok_dashboard.likes_count 1000000 1 %}M <span id="followers">Likes</span> {% elif tiktok_dashboard.likes_count > 1000 %} {% widthratio tiktok_dashboard.likes_count 1000 1 %}k  <span id="followers">Likes</span> {% else %} {{tiktok_dashboard.likes_count}} <span id="followers">Likes</span> {%endif%}</p>
                                    <p>{{tiktok_dashboard.video_count}} <span id="followers">Video{% if tiktok_dashboard.video_count > 1%}s{% endif %}</span></p>
                                    <p>{% if tiktok_dashboard.follower_count > 1000000 %} {% widthratio tiktok_dashboard.follower_count 1000000 1 %}M <span id="followers">Followers</span>  {% elif tiktok_dashboard.follower_count > 1000 %} {% widthratio tiktok_dashboard.follower_count 1000 1 %}k <span id="followers">Followers</span> {% else %} {{tiktok_dashboard.follower_count}} <span id="followers">Followers</span> {%endif%} </p>
                                </div>
                            </div>

                            <div class="tags" style="width: 80%; height: 92px;margin: 0px;padding: 0px;">
                                <p>{% if tiktok_dashboard.tags %}{{tiktok_dashboard.tags}}{% else %} No Tags {%endif%} </p>
                            </div>

                            <a href="{% url 'demo_sendproposal' %}"><button id="sendproposal-tiktok">Send Proposal <i class="fa-solid fa-paper-plane"></i> </button></a>
                                 
                        </div>
                    
                    {% empty %}
                    </div>

                    <h2>No Results Match Your Query</h2>

                    {% endfor %}
                    </div>

                    
                    


                {% endif %}


    </section>

    <script>
        // Attach click event to all labels and images that should trigger the form submission
        document.querySelectorAll('.submit-label').forEach(function(element) {
            element.addEventListener('click', function() {

                const social_media_type = document.getElementById(this.getAttribute('for'));
                if (social_media_type) {
                    social_media_type.checked = true;
                }
    
                // Submit the form
                document.getElementById('social-media-type').submit();
            });
        });
    </script>

    

{% endblock %}