{% extends 'base/main.html' %}

{% block content %}
    <section id="main">

        
        <!--  
        <div class="header-flex">
            <div class="account-info">
                <h1>{{dashboard.creator.name}}</h1>
                <div class="link-flex">
                    {% if dashboard.creator.contact_email %}
                    <a href="mailto:{{dashboard.creator.contact_email}}"><i class="fa-solid fa-envelope"></i></a>
                    {% endif %}
                    {% if dashboard.creator.website %}
                    <a href="{{dashboard.creator.website}}"><i class="fa-solid fa-globe"></i></a>
                    {% endif %}
                </div>
            </div>
            
            <a href="{% url 'home' %}"><button id="header">Home</button></a>
            
        </div>
        -->

        <h1>My Integrations</h1>
        <hr>

       
        <div class="creator-grid">
            {% if ig_dashboard %}
                <div class="creator-box">


                    <div class="creator-box-header">



                        <div class="social-flex">
                            <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/a/a5/Instagram_icon.png/600px-Instagram_icon.png" alt="instagram logo">
                            <p><b>{{ig_dashboard.username}}</b></p>
                        
                        </div>


                    
                    </div>


                    <div class="chart-flex">
                        <div class="chart-container">
                            <div class="chart-ring">
                                <div class="donut-chart" style="--percentage: {{ig_dashboard.engagement_rate}};">
                                    <div class="percentage-text">{{ig_dashboard.engagement_rate}}%</div>

                                </div>
                                <p>Engagement <br> Rate</p>
                            </div>

                        </div>





                        <div class="rate-flex">

                            <h1 id="rate"> $ {{ig_dashboard.average_rate | floatformat}} </h1>
                            <p>Avg Cost</p>
                        </div>
                    </div>

                    <h1 id="rate">{% if ig_dashboard.followers > 1000 %} {% widthratio ig_dashboard.followers 1000 1 %}k <span id="followers-2">Followers</span> {% else %} {ig_dashboard.followers}} <span id="followers">Followers</span> {%endif%} </h1>

            


                    <div class="tooltip"><p>{% if ig_dashboard.audience_country == "None" %} No Data on Audience Country {% else %} <b><i class="fa-solid fa-location-dot"></i> {{ig_dashboard.audience_country}}</b> {% endif %}</p>
                        <span class="tooltiptext">The Country where most of the creator's audience are based out of</span>
                    </div>

                    <div class="tags">
                        <p>{% if ig_dashboard.tags %}{{ig_dashboard.tags}}{% else %} No Tags {%endif%}</p>
                    </div>

                    <div class="button-distance-flex">
                        <a href="{% url 'instagram_integration_update' ig_dashboard.id %}"><button id="small"><i class="fa-solid fa-pen-to-square"></i></button></a>
                    </div>

                </div>
            {% else %}
                <div class="integrate-box">
                    <i class="fa-brands fa-instagram"></i>
                    <a href="{% url 'instagram_integration' %}"><button>Connect IG</button></a>
                    <p>Integrate Your instagram account today to tap into the <b>$15 Billion</b> Influencer Marketing Industry</p>
                </div>
            {% endif %}

            
            {% if tiktok_dashboard %}
                <div class="tiktok-creator-box">
                    <div class="tiktok-profile-flex">
                        <div class="tiktok-profile">
                            <img id="avatar" src="{{tiktok_dashboard.avatar_url}}">
                            <div class="social-flex-tiktok">
                                <p><b>@<a href="{{tiktok_dashboard.profile_deep_link}}" target="_blank">{{tiktok_dashboard.display_name}}</a> {% if tiktok_dashboard.is_verified %} <i class="fa-solid fa-circle-check" style="color: #24a0ff;"></i> {% endif %}</b></p> 
                            </div>
                        </div>
                        <div class="tiktok-price">
                            <h1 id="tiktok-rate">$ {{tiktok_dashboard.pricing_per_promotion | floatformat }}</h1>
                            <span id="subtext">/promotion</span>
                        </div>
                    </div>
                    

                    
                    <div class="chart-flex">
                        <div class="chart-container">
                            <div class="chart-ring">
                                <div class="donut-chart" style="--percentage: {{tiktok_dashboard.engagement_rate}};">
                                    <div class="percentage-text">{{tiktok_dashboard.engagement_rate}}%</div>
                                </div>
                                <p>Engagement <br> Rate</p>
                            </div>

                        </div>
                        <div class="tiktok-rate-flex">
                            <p>{{tiktok_dashboard.likes_count}} <span id="followers">Likes</span></p>
                            <p>{{tiktok_dashboard.video_count}} <span id="followers">Video{% if tiktok_dashboard.video_count > 1%}s{% endif %}</span></p>
                            <p>{% if tiktok_dashboard.follower_count > 1000 %} {% widthratio tiktok_dashboard.follower_count 1000 1 %}k <span id="followers">Followers</span> {% else %} {{tiktok_dashboard.follower_count}} <span id="followers">Followers</span> {%endif%} </p>
                        </div>
                    </div>
                   
                    <div class="button-distance-flex">
                        <a href="{% url 'tiktok_get_data' tiktok_dashboard.id %}"><button id="small"><i class="fa-solid fa-pen-to-square"></i></button></a>                        
                    </div>
                    
                  
                </div>

            {% else %}
                <div class="integrate-box">
                    <i class="fa-brands fa-tiktok"></i>
                    <a href="{% url 'tiktok_authorize' %}"><button>Connect Tiktok</button></a>
                    <p>Integrate Your tiktok account today to tap into the <b>$15 Billion</b> Influencer Marketing Industry</p>
                </div>
            {% endif %}
            
        </div>
        

        
    </section>
    
    

{% endblock %}