<div class="top-nav">
    <a href="{% url 'landing_page' %}" id="top-pluence">Pluence</a>
    <div class="nav-links">
      <a href="{% url 'landing_page' %}" class="top_brand">Home</a>
      <a href="{% url 'landing_page' %}#features" class="top_brand">Features</a>
      <a href="{% url 'landing_page' %}#pricing" class="top_pricing">Pricing</a>
      <a href="{% url 'landing_page_creator' %}" class="top_creator">Creators</a>
      
      <a href="{% url 'signup' %}" class="top_signup">Sign Up</a>
    </div>

    <div class="mobile-navlinks">
      <a href=""><i class="fa-solid fa-bars"></i></a>
    </div>
</div>

<div class="mobile-nav-menu">
  <a href="#" id="close-menu"><i class="fa-solid fa-x"></i></a>
  <a href="{% url 'landing_page' %}" class="top_brand">Home</a>
  <a href="{% url 'landing_page' %}#features" class="top_brand">Features</a>
  <a href="{% url 'landing_page' %}#pricing" class="top_pricing">Pricing</a>
  <a href="{% url 'landing_page_creator' %}" class="top_creator">Creators</a>
  <a href="{% url 'signup' %}" class="top_signup">Sign Up</a>
</div>


