{% include 'base/setup.html' %}

<style>
  body , html {
    margin: 0;
    padding: 0;
    font-family: "Poppins", sans-serif;
    background-color: #ffffff;
  }

  ::-webkit-scrollbar {
  display: none;
  }

  #top-pluence {
    font-family: "Poppins";
    font-style: normal;
    font-weight: 800;
    font-size: 40px;
    line-height: 50px;
    letter-spacing: -0.06em;
  }

  .top-nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 40px;
    background-color: #fff;
  }
  .top-nav a {
    text-decoration: none;
    color: #000;
    font-weight: 600;
    font-size: 20px;
    letter-spacing: -0.08em;
    margin: 0 30px;
  }
  .top-nav .top_signup {
    background-color: #000;
    color: #fff;
    padding: 10px 40px;
    border-radius: 25px;
    font-weight: 600;
  }
  .main-content {
    display: flex;
    flex-direction: row;
    min-height: 90vh;
    height: auto;
    justify-content: space-between;
    align-items: center;
    padding: 0px 70px;
    padding-top: 0px;
    padding-bottom: 0px;
  }
  .main-text {
    max-width: 60%;


  }
  .main-text h1 {
    font-size: 5vw;
    font-weight: 600;
    line-height: 80px;
    margin: 0;
    margin-bottom: 0px;
  }
  .main-text .signup-now {
    background-color: #000;
    color: #fff;
    padding: 15px 50px;
    border-radius: 30px;
    font-weight: 600;
    font-size: 2vw;
    display: inline-block;
    margin-top: 20px;
    text-decoration: none;
    

  }

  .main-text .signup-now:hover {
    background-color: white;
    border: 4px solid black;
    color: black;
  }

  .main img {
    width: 60%;
    
  }

  .main-image img {
    max-width: 450px;
    width: 100%;

  }
  .bottom-nav {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    width: 100%;
    height: auto;
  }

  .bottom-nav a {
    text-decoration: none;
    color: white;
    font-weight: 500;
    font-size: 18px;
    letter-spacing: -0.08em;
    margin: 0 15px;

  }

  #bottom-pluence {
    font-family: "Poppins";
    font-style: normal;
    font-weight: 800;
    font-size: 32px;
    line-height: 48px;
    letter-spacing: -0.08em;
    color: white;
    margin: 0 20px;
  }

  /* CSS BATCH 2 */

  .main-text h1 {
    line-height: 0.7;
  }

  /* CSS BATCH 3 */

  .main-text h1 {
    line-height: 1.2;
  }

  #footer {
    width: 100%;
    height: auto;
    background: rgba(4, 3, 3, 0.88);
    text-align: center;
    padding: 10px 0px;
    padding-bottom: 20px;
    margin-bottom: 0px;

    min-height: 10vh;
    display: flex;
    flex-direction: column;
    margin-top: auto;
  }

  .mobile-navlinks {
  display: none; /* Hide by default on larger screens */
  cursor: pointer;
}

.mobile-navlinks i {
  font-size: 30px;
  color: #000;
}

.mobile-nav-menu {
  display: none; /* Hide menu by default */
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(255, 255, 255, 0.9);
  color: black;
  padding: 50px 20px;
  z-index: 999;
}

a#close-menu{
  font-size: 30px;
  cursor: pointer;
  color: black;
  text-align: left;
  margin-left: 50px;
}


  /* Responsive Styles for Mobile Devices */

@media (max-width: 768px) {

  .nav-links {
    display: none; /* Hide original nav links on mobile */
  }

  .mobile-navlinks {
    display: block; /* Show mobile nav toggle button */
  }

  .mobile-nav-menu  {
    flex-direction: column;
    justify-content: left;
    margin: 20px auto;
    text-align: left;
  }

  .mobile-nav-menu a {
    margin-left: 50px;
    text-decoration: none;
    font-size: 30px;
    font-weight: 600;
    margin-top: 40px;
    color: black;
  }

  .top-nav {
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    padding: 20px;
  }


  .top-nav a {
    margin: 10px 0;
    font-size: 16px;
  }

  

  .main-content {
    width: 100%;
    flex-direction: column-reverse;
    padding: 0px 0px;
    min-height: 80vh;
    margin-bottom: 20px;
  }

  .main-text {
    max-width: 100%;
    width: 300px;
    text-align: center;
    
  }

  .main-text h1 {
    text-align: left;
    font-size: 80px;
    line-height: 60px;
  }

  .main-text .signup-now {
    font-size: 40px;
    padding: 10px 20px;
    margin-left: 0px;
  }

  .main-image {
    width: 100%;
    margin-bottom: 5px;
  }

  .main-image img {
    width: 100%;
    max-width: none; /* Remove max-width restriction */
    margin-left: 10px;
  }

  .bottom-nav {
    justify-content: center;
    align-items: center;
  }

  #bottom-pluence {
    font-size: 20px;
    line-height: 28px;
    margin: 10px;
  }
}

@media (max-width: 480px) {
  .top-nav {
    padding: 10px;
  }

  .top-nav a {
    font-size: 14px;
  }

  .main-text h1 {
    font-size: 8vw;
  }

  .main-text .signup-now {
    font-size: 5vw;
    padding: 15px 30px;
  }

  #bottom-pluence {
    font-size: 18px;
    line-height: 24px;
  }

  #footer {
    padding: 5px 0;
  }
}

  
</style>

<body>
  {% block content %} {% endblock content %}
</body>

<!-- Google tag (gtag.js) -->
<script async src="https://www.googletagmanager.com/gtag/js?id=G-VMJN5EMEWJ"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'G-VMJN5EMEWJ');
</script>

<script>
  document.addEventListener('DOMContentLoaded', function () {
    const menuButton = document.querySelector('.mobile-navlinks a');
    const mobileMenu = document.querySelector('.mobile-nav-menu');
    const closeMenuButton = document.querySelector('#close-menu');

    menuButton.addEventListener('click', function (e) {
      e.preventDefault(); // Prevent default action
      mobileMenu.style.display = 'flex';
    });

    closeMenuButton.addEventListener('click', function () {
      mobileMenu.style.display = 'none';
    });

    window.addEventListener('click', function (event) {
      if (event.target === mobileMenu) {
        mobileMenu.style.display = 'none';
      }
    });
  });
</script>


</html>