{% extends 'base/landing_main.html' %}

{% block content %}
{% load static %}
<body>
  {% include 'base/landing_header.html' %}

  <div class="main-content">
    <div class="main-text">
      <h1>Get Brand </h1>
      <h1>Deals For Your</h1>
      <h1>Content</h1>
      <a href="{% url 'signup' %}" class="signup-now">Sign Up Now</a>
    </div>
    <div class="main-image">
      <img src="{% static 'base/images/brand_deal1.png' %}" >
    </div>
  </div>

  {% include 'base/landing_footer.html' %}
  
</body>

{% endblock %}
