{% include 'base/setup.html' %}

<style>
  html,
  body {
    font-family: "Poppins", sans-serif;
    color: black;
    margin: 0;
    padding: 0;
  }

  /* General scrollbar styling for Chrome, Edge, and Safari */
::-webkit-scrollbar {
    width: 8px;           /* Width of the scrollbar */
    height: 8px;          /* Height of the scrollbar (for horizontal scroll) */
}

::-webkit-scrollbar-track {
    background: #f1f1f1;  /* Track background color */
    border-radius: 4px;   /* Rounded corners */
}

::-webkit-scrollbar-thumb {
    background: #888;     /* Scroll thumb color */
    border-radius: 4px;   /* Rounded corners */
}

::-webkit-scrollbar-thumb:hover {
    background: #555;     /* Darker color on hover */
}

/* Firefox scrollbar styling */
* {
    scrollbar-width: thin;       /* Sets scrollbar width to thin */
    scrollbar-color: #888 #f1f1f1; /* Thumb color and track color */
}

  #form , #selection-form {
    text-align: center;
    width: 30%;
    margin: 50px auto;
  }

  #selection-form {
    width: 100%;
    height: auto;
    margin-top: 10px;
  }

  #form p {
    text-align: left;
    margin-bottom: 5px;
  }

  #form input[type="text"],
  #form input[type="password"],
  #form input[type="email"],
  #form input[type="url"],
  #form input[type="number"],
  #form select,
  #form textarea,
  .search-flex select,
  .search-flex input[type="search"] {
    font-family: Arial, Helvetica, sans-serif;
    width: 100%;
    height: 40px;
    font-size: 20px;
    padding: 1px 5px;
    border: 2px solid black;
  }

  .search-flex select,
  .search-flex input[type="search"] {
    height: 50px;
  }

  .search-flex select {
    width: 30%;
  }

  .search-flex,
  .search-flex #search-form , .search-flex #sort-form{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    margin: 20px 0px;
  }

  .search-flex {
    justify-content: space-between;
  }

  .search-flex #search-form , .search-flex #sort-form {
    justify-content: center;
    align-items: bottom;
    margin: 5px 5px;
  }

  .search-flex #search-form {
    width: 70%;
  }

  .search-flex #sort-form {
    width: 20%;
  }

  form#combined-form {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }

  button#submit {
    margin-top: 0px;
    padding: 5px 20px;
  }

  button#sendproposal , button#sendproposal-tiktok{
    font-size: 20px;
    font-weight: 800;
  }

  button#sendproposal-tiktok {
    margin-bottom: 20px;
    margin-top: 5px;
  }

  #required {
    color: red;
  }

  #form textarea {
    height: 80px;
    resize: vertical;
  }

  #form h1 {
    font-size: 40px;
    font-weight: 800;
    margin-bottom: 0px;
    margin-top: 0px;
  }

  button {
    padding: 10px 50px;
    font-size: 25px;
    font-weight: 600;
    color: white;
    background-color: black;
    border: none;
    margin-top: 20px;
  }

  button:hover {
    color: black;
    background-color: white;
    border: 2px solid black;
  }

  #error {
    font-size: 15px;
    color: rgb(190, 2, 2);
  }

  a {
    color: black;
    margin-top: 10px;
  }

  #id_account_type {
    margin: 20px 0px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }

  #form input[type="radio"] {
    margin-right: 10px;
  }

  #form label#radio-label {
    display: flex;
    flex-direction: row;
    padding: 10px 40px;
    align-items: center;
    border: 2px solid black;
    border-radius: 10px;
    cursor: pointer;
    margin-right: 10px;
    margin-bottom: 10px;
    position: relative;
  }

  #form input[type="radio"]:checked + label {
    border-color: green;
  }

  #form img {
    width: 60%;
  }

  #main {
    width: 100%;
    margin: 10px auto;
  }

  #main hr {
    border: 1.5px solid rgba(168, 168, 168, 0.658);
  }

  #main h1 {
    font-size: 40px;
    font-weight: 700;
    line-height: 40px;
    margin-bottom: 10px;
  }

  #main h2 {
    font-size: 30px;
    font-weight: 600;
  }

  #main h3 {
    font-size: 20px;
    font-weight: 500;
  }

  .link-flex , .link-flex-box {
    display: flex;
    flex-direction: row;
    justify-content: left;
    align-items: bottom;
  }

  .link-flex a , .link-flex-box  a {
    color: rgb(0, 0, 0);
    font-size: 25px;
    margin-right: 20px;
  }

  .proposal-grid,
  .social-grid,
  .creator-grid {
    display: grid;
    grid-template-columns: repeat(2, minmax(0, 0.8fr));
    gap: 2em;
  }

  .proposal-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    background:  rgba(255, 255, 255, 0.411);
    padding: 0px;
    border-radius: 0px;
    border: 2px solid rgba(128, 128, 128, 0.651) ;
  }

  .proposal-row , .proposal-row-header , .proposal-row-ig , .proposal-row-header-ig {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    text-align: left;
    align-items: top;
    padding: 2.5px 0px;
    padding-left: 5px;
    border-bottom : 1.5px solid rgba(128, 128, 128, 0.651);
    
  }

  .proposal-row-header-ig , .proposal-row-header {
    background:  rgba(223, 223, 223, 0.411);
  }

  .proposal-row p ,.proposal-row-header p , .proposal-row-header-ig p , .proposal-row-ig p{
    width: 17%;
    text-align: left;
  }

  .proposal-row-header-ig p , .proposal-row-ig p {
    width: 14%;
  }


  .proposal-row p , .proposal-row-ig p{
    font-size: 20px;
    line-height: 20px;
    font-weight: 500;
  }

  .proposal-row p#bold , .proposal-row-ig p#bold {
    font-weight: 600;
  }

  .proposal-row-header p , .proposal-row-header-ig p {
    font-weight: 700;  
  }

  .creator-grid {
    width: 100%;
    grid-template-columns: repeat(3, minmax(0, 1.5fr));
    gap: 2em;
  }

  .social-grid {
    grid-template-columns: repeat(1, minmax(0, 1.5fr));
  }

  .proposal-box,
  .social-box,
  .proposal-detail-box,
  .creator-box,
  .integrate-box
  .tiktok-creator-box {
    padding: 20px;
    width: 90%;
    height: 280px;
    border: 2px solid rgba(53, 53, 53, 0.658);
  }

  .proposal-detail-box {
    width: 60%;
    margin-top: 50px;
    margin: 50px auto;
    height: auto;
  }

  .social-box,
  .creator-box , 
  .integrate-box
  .tiktok-creator-box{
    width: 85%;
    height: auto;
  }

  .tiktok-creator-box {
    padding-top: 0px;
    display: flex;
    flex-direction: column;
    justify-content: top;
    align-items: center;
    border: 2px solid rgba(53, 53, 53, 0.658);
  }

  .integrate-box{
    display: flex;
    flex-direction: column;
    justify-content:flex-start;
    text-align: center;
  }

  .integrate-box i {
    font-size: 100px;
    line-height: 100px;
    margin-bottom: 10px;
    margin-top: 100px;
  }

  .integrate-box p {
    font-size: 25px;
    line-height: 35px;
    word-wrap:break-word;
    margin-top: 30px;
    text-align: left;
  }

  .integrate-box button {
    font-size: 20px;
    font-weight: 800;
    height: 60px;
    width: 95%;
    margin: 10px 0px;
  }

  .social-box {
    width: 30%;
  }

  .rate-flex {
    margin: 0px auto;
    flex-direction: column;
    justify-content: left;
    align-items: center;
    padding: 0px 0px;
    padding-top: 50px;
  }

  h1#rate {
    font-size: 40px;
    font-weight: 600;
    letter-spacing: -3px;
    margin-bottom: 0px;
    margin-top: 20px;

  }
  
  #followers, #followers-2 {
    font-size: 20px;
    font-weight: 400;
    margin-left: 10px;
    text-align: left;
  }

  #followers-2 {
    font-size: 30px;
    font-weight: 800;
    margin-left: 5px;
    letter-spacing: -2px;
  }



  .social-flex, 
  .rate-flex
  .social-flex-tiktok 
  .tiktok-rate-flex{
    display: flex;
    flex-direction: row;
    justify-content: left;
    align-items: center;
  }

  .rate-flex,
  .social-flex-tiktok
  .tiktok-rate-flex{
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .tiktok-rate-flex{
    align-items: left;
    text-align: left;
    margin-left: 30px;
    margin-top: 20px;
  }

  .tiktok-rate-flex p {
    font-weight: 800;
    font-size:20px;
    line-height: 15px;
  }

  .social-flex,
  .social-flex-tiktok {
    margin-bottom: 10px;
    align-items: center;
  }

  .social-flex-tiktok {
    flex-direction: row;
    margin-top: 5px;
  }





  .social-flex img,
  .social-flex-tiktok img {
    width: 25px;
    height: auto;
    margin-right: 5px;
  }

  .social-flex-tiktok img {
    margin-top: 2px;
  }



  .proposal-box p {
    width: 85%;
    height: 80px;
    overflow: hidden;
    word-wrap: normal;
  }

  .proposal-flex,
  .proposal-detail-flex {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    height: 100px;
  }

  .proposal-detail-flex {
    justify-content: left;
    margin-top: 0px;
  }

  .proposal-flex h2#amount,
  .proposal-detail-box h2#amount {
    font-size: 50px;
  }

  .proposal-detail-box h2#amount {
    margin: 0px auto;
    margin-top: 20px;
    font-size: 60px;
    font-weight: 700;
  }

  .proposal-detail-box p#sub {
    font-weight: 500;
    font-size: 30px;
  }

  .proposal-detail-flex h2 {
    margin-right: 50px;
    font-weight: 800;
  }

  .button-flex {
    margin-top: 5px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: top;
  }

  .button-flex a {
    margin-top: 0px;
  }

  button#view {
    padding: 10px 80px;
  }

  .button-accept-flex {
    display: flex;
    flex-direction: row;
    align-items: center;
  }

  .button-distance-flex {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }

  button#accept,
  button#reject , button#small{
    padding: 10px 20px;
  }

  button#accept:hover {
    background-color: rgb(2, 197, 2);
    color: white;
  }

  button#reject:hover {
    background-color: rgb(182, 5, 5);
    color: white;
  }

  .header-flex {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
  }

  button#header {
    padding: 15px 30px;
    font-size: 20px;
    background-color: white;
    color: black;
    border: 2px solid black;
    border-radius: 5px;
  }

  h1#title {
    text-align: center;
    font-size: 60px;
    font-weight: 800;
    margin-bottom: 0px;
  }

  .social-image,
  .brand-image {
    width: 100%;
    border-radius: 20px 20px 0px 0px;
    height: 250px;
    overflow: hidden;
  }

  .brand-image {
    height: 150px;
  }

  .social-image img,
  .brand-image img {
    width: 100%;
    height: auto;
  }

  p#account-type {
    font-size: 20px;
    font-weight: 400;
    margin-bottom: 0px;
  }

  .proposal-detail-box p#description {
    width: 90%;
    height: auto;
    overflow-x: hidden;
  }

  .tags {
    margin-top: 10px;
    width: 95%;
    height: 65px;
    word-break: break-all;
    overflow: hidden;
  }

  .active-proposal-flex {
    display: flex;
    flex-direction: row;
    align-items: bottom;
    justify-content: space-between;
    padding: 5px 10px;
    border: 2px solid rgb(121, 121, 121);
    box-shadow: 4px 8px 8px hsla(0, 0%, 25%, 0.38);
    margin-bottom: 40px;
  }

  button#proposal-view {
    margin: auto 0px;
  }

  .active-proposal-flex p {
    font-size: 20px;
    font-weight: 500;
  }

  .active-proposal-flex p#amount {
    font-size: 30px;
    margin: auto 0px;
  }

  .payment-flex {
    display: flex;
    flex-direction: row;
    justify-content: bottom;
    align-items: flex-end;

    margin-bottom: 40px;
  }

  .payment-flex h1#payment {
    font-size: 80px;
    font-weight: 600;
    letter-spacing: -3px;
    margin-bottom: 0px 5px;
    margin-right: 20px;
  }

  .payment-flex p#sub {
    color: rgb(6, 150, 6);
    font-size: 30px;
    font-weight: 600;
    margin: 0px 5px;
  }

  .paypal-payment {
    margin: 60px auto;
    text-align: center;
  }

  .payment-flex h1#paypal {
    margin: 30px auto;
    font-size: 60px;
    text-align: center;
  }

  #green {
    color: rgb(0, 128, 0);
  }

  .content-image img {
    width: 90%;
    border: 2px solid black;
  }

  @media (max-width: 768px) {
    .container {
      flex-direction: column;
    }

    .left,
    .right {
      border: none;
      border-bottom: 1px solid rgba(53, 53, 53, 0.658);
      padding: 10px;
    }

    .right {
      border-bottom: none;


    }

  }

  @media (max-width: 768px) {
  html, body {
    font-size: 14px;
  }

  #form {
    width: 90%;
    margin: 20px auto;
  }

  #form h1{
    font-size: 28px;
  }

  #form input[type="text"],
  #form input[type="password"],
  #form input[type="email"],
  #form input[type="url"],
  #form input[type="number"],
  #form select,
  #form textarea,
  .search-flex select,
  .search-flex input[type="search"] {
    font-size: 16px;
  }

  .search-flex input[type="search"] , .search-flex select{
    width: 80%;
  }

  .search-flex button#submit {
    width: 20%;
    padding: 5px 5px;
  }

  .search-flex #search-form , .search-flex #sort-form {
    width: 95%;
  }

  .search-flex {
    flex-direction: column;
    justify-content: center;
  }

  .search-flex #search-form , .search-flex #sort-form{
    width: 100%;
    margin: 10px 0;
  }

  #main {
    width: 100%;
    padding: 10px;
  }

  #main h1 {
    font-size: 28px;
    line-height: 36px;
  }

  #main h2 {
    font-size: 24px;
  }

  #main h3 {
    font-size: 18px;
  }

  .link-flex , .link-flex-box{
    flex-direction: row;
    align-items: center;
  }

  .link-flex-box {
    width: 60%;
    flex-direction: column-reverse;
  }

  .link-flex-box button#header {
    padding: 15px 40px;
  }

  .link-flex a {
    font-size: 30px;
    margin: 10px 0;
    margin-right: 20px;
  }

  .proposal-grid,
  .social-grid,
  .creator-grid {
    grid-template-columns: auto;
  }

  .proposal-box,
  .social-box,
  .proposal-detail-box,
  .creator-box {
    width: 90%;
    padding: 10px;
  }

  .proposal-detail-box {
    width: 85%;
  }

  .button-flex {
    flex-direction: column;
    align-items: center;
  }

  button {
    width: 100%;
    padding: 10px;
    font-size: 18px;
  }

  .social-image,
  .brand-image {
    height: 300px;
  }

  .social-image img,
  .brand-image img {
    width: 100%;
  }

  #title {
    font-size: 36px;
  }

  .payment-flex {
    flex-direction: column;
    align-items: center;
    text-align: center;
  }

  .payment-flex h1#payment {
    font-size: 48px;
  }

  .payment-flex p#sub {
    font-size: 24px;
  }

  .active-proposal-flex {
    width: 90%;
    display: grid;
    grid-template-columns: auto auto;
  }

  .active-proposal-flex button#proposal-view {
    width: 80%;
  }
}

/* Toggle Menu Display */
.menu-open .menu-items {
  display: flex;
}

.error-msg {
  font-size: 15px;
  text-align: center;
  color: rgb(182, 6, 6);
}


.pricing-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    align-items: center;
    margin-bottom: 50px;
    
  }
  

  .pricing-heading h1 , .pricing-content h1 {
    font-weight: 600;
    font-size: 50px;
    line-height: 60px;
    text-align: center;
    letter-spacing: -0.06em;


  }

  .pricing-box a {
    text-decoration: none;
  }


  .pricing-types {
    width: 90%;
    display: flex;
    flex-direction: row;
    justify-content: center;
  }

  .pricing-box {
    display: flex;
    flex-direction: column;
    border: 2px solid red;
    margin: 10px 40px;
    width: 60%;
    align-items: center;

    background: #FFFFFF;
    border: 3px solid #888888;
    border-radius: 40px;

  }

  .pricing-signup {
    width: 80%;
    display: flex;
    flex-direction: row;
    justify-content: left;
    margin-bottom: 20px;
  }

  .pricing-signup button {
    margin-top: 0px;
    border-style: none;
    outline: none;
    margin-left: 0px;
    background-color: #000;
    color: #fff;
    padding: 8px 40px;
    border-radius: 40px;

    font-weight: 800;
    font-size: 28px;
    line-height: 54px;
    letter-spacing: -0.06em;

  }

  .pricing-signup button:hover {
    background-color: #fff;
    color: #000;
    border: 4px solid black;
  }

  .pricing-box h2 {
    font-weight: 700;
    font-size: 26px;
    line-height: 50px;
    letter-spacing: -0.06em;

    color: #292929;


  }

  .pricing-box-price {
    display: flex;
    flex-direction: row;
    justify-content: left;
    align-items: baseline;
    width: 80%;
  }

  .pricing-box-price h1 {
    font-weight: 500;
    font-size: 80px;
    line-height: 10px;
    letter-spacing: -0.06em;

    color: #000000;
    margin-right: 10px;


  }

  .pricing-box-price p {
    font-weight: 500;
    font-size: 22px;
    line-height: 44px;
    letter-spacing: -0.06em;
  }

  .pricing-box-features {
    width: 80%;
    text-align: left;
    height: 280px;

  }

  .pricing-box-features h3 {
    margin-top: 0px;
    font-weight: 800;
    font-size: 24px;
    line-height: 20px;
    letter-spacing: -0.06em;


  }


  .pricing-box-features li {
    font-weight: 500;
    font-size: 22px;
    line-height: 33px;
    letter-spacing: -0.06em;

  }
  /**-------------------**/

  .chart-container {
        display: flex;
        justify-content: left;
        align-items: top;
        flex-direction: row;
        height: 250px;
    }

    .chart-flex {
      flex-direction: row;
      display: flex;
      justify-content: space-between;
      align-items: top;
      margin-bottom: 0px;
    }

    .chart-ring {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
    }
    /* Donut chart base */
    .donut-chart , .tiktok-donut-chart{
        width: 150px;
        height: 150px;
        border-radius: 50%;
        background: conic-gradient(#cc43e4  calc(var(--percentage) * 1%), #E0E0E0 0%);
        display: flex;
        justify-content: center;
        align-items: center;
        position: relative;
    }

    /* Inner white circle for ring effect */
    .donut-chart::before,.tiktok-donut-chart::before{
        content: "";
        width: 90px;
        height: 90px;
        background: #ffffff;
        border-radius: 50%;
        position: absolute;
    }


    /* Centered percentage text */
    .percentage-text , .tiktok-donut-chart .percentage-text {
        position: absolute;
        font-size: 20px;
        font-weight: bold;
        color:#cc43e4 ;
        margin-bottom: 0px;
    }


    .chart-ring p ,.tiktok-chart-ring p{
      font-size: 10px;
      font-weight: 800;
      text-align: left;
    }

    /* Tooltip container */
    .tooltip {
        position: relative;
        display: inline-block;
        cursor: pointer;
        

    }

    #tooltip-underline {
      text-decoration: underline;
      text-decoration-color: rgb(5, 143, 1);
      text-decoration-style: dashed;
    }

    /* Tooltip text */
    .tooltip .tooltiptext {
        visibility: hidden;
        width: 100px;
        background-color: #333;
        color: #fff;
        text-align: center;
        padding: 5px 10px;
        border-radius: 4px;

        font-size: 10px;
        
        /* Positioning */
        position: absolute;
        z-index: 1;
        bottom: 125%; /* Place the tooltip above the text */
        left: 50%;
        transform: translateX(-50%);
        
        /* Fade in tooltip */
        opacity: 0;
        transition: opacity 0.3s;
    }

    /* Tooltip arrow */
    .tooltip .tooltiptext::after {
        content: "";
        position: absolute;
        top: 100%; /* Position the arrow at the bottom of the tooltip */
        left: 50%;
        margin-left: -5px;
        border-width: 5px;
        border-style: solid;
        border-color: #333 transparent transparent transparent;
    }

    /* Show tooltip text on hover */
    .tooltip:hover .tooltiptext {
        visibility: visible;
        opacity: 1;
    }

    #body-section {
      max-width: auto;
      height: auto;
      display: flex;
      flex-direction: row;
      justify-content: space-between;
    }

    #body-section {
      text-decoration: none;
    }

    #navbar-body {
      position: sticky;
      top: 0;
      width: 5%;
      height: 100vh;
      text-align: left;
      background-color: #FFFFFF;
      border-right : 2px solid rgba(129, 129, 129, 0.664);
      transition: width 0.1s;
    }

    #navbar-body.maximized {
      width: 30%;
    }

    #navbar-body.maximized h1#logo , #navbar-body h1#logo {
      font-size: 40px;
      font-weight: 700;
      line-height: 40px;

    }

    #navbar-body a {
      text-decoration: none;
    }

    #navbar-body h1#logo {
      margin-top: 25px;
      font-size: 40px;
      font-family: "Pacifico" , sans-serif;
      font-optical-sizing: auto;
      font-weight: 900;
    }

    .navbar-header-flex {
      margin: 10px 0;
      margin-left: 10%;
      height: 100%;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      align-items: left;
      text-align: left;
    }

    .navbar-header-flex #maximize-button {
      text-align: left;
      cursor: pointer;
    }

    .navbar-menu-flex {
      display: flex;
      flex-direction: column;
      justify-content: left;
      text-align: left;
      margin-bottom: 20px;

    }

    .navbar-menu-flex span i , .navbar-menu-flex span a {
      margin-top:20px;
      font-size: 30px;
    }

    

    #content-body {
      width: 90%;
      padding-right: 20px;
    }

    .navbar-links{
        display: none;
    }

    .navbar-links.maximized {
      display: flex;
      flex-direction: column;
    }

    

    #profile a {
      text-decoration: none;
      font-size: 30px;
      font-weight: 700;
    }


    #social-media-type {
      display: flex;
      flex-direction: row;
      align-items: center;
      
    }



    #social-media-type i{
      font-size: 35px;
    }

    #social-media-type a {
      background-color: rgb(0, 0, 0);
      color: rgb(255, 255, 255);
      border: 2.5px solid rgb(0, 0, 0);
      padding: 5px 10px;
      margin-top: 0px;
    }

    #social-media-type a:hover{
      background-color: rgb(255, 255, 255);
      color: rgb(0, 0, 0);
    }

    
    button.submit-button {
      padding: 5px;
    }

    .social-media-type-form {
      width: 100%;
      height: 30px;
      margin: auto 0px;
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      align-items: center;
    }

    #subtext {
      font-size: 15px;
      margin-left: 10px;
      letter-spacing: -1px;
    }

    .tiktok-profile-flex {
      width: 95%;
      display: flex;
      flex-direction: row;
      justify-content: center;
      margin-top: 40px;
    }

    .tiktok-profile {
      display: flex;
      justify-content: center;
      flex-direction: column;
      text-align: center;
      width: 35%;
      margin-right: 50px;
    }

    .tiktok-profile img {
      width: 100%;
      height: auto;
      border-radius: 50%;
      margin-bottom: 5px;
      margin: 5px auto;
    }

    .tiktok-price {
      width: auto;
    }

    h1#tiktok-rate {
      font-size: 40px;
    }

    /* Type-bar (navbar) styling */
    .type-bar {
      width: 60%;
      display: flex;
      flex-direction: row;
      justify-content: right;
      padding: 10px 5px ;
      text-align: left;
      align-items: center;
    }

    .type-bar .nav-button , .type-bar .nav-button-2  {
      width: auto;
      background-color: white;
      color: rgb(56, 56, 56);
      font-size: 20px;
      font-weight: 600;
      margin-right: 20px;
      padding: 10px 10px;
      cursor: pointer;
      transition: background-color 0.3s ease;
    }


    .type-bar .nav-button.active , .type-bar .nav-button-2.active {
      text-decoration: underline;
      font-weight: bold;
    }

    .type-bar .nav-button:hover , .type-bar .nav-button-2:hover {
      text-decoration: underline;
      border: none;
    }

    /* Content styling */

    .content:not(.hidden) ,.content-2:not(.hidden) {
      display: block;
    }

    .hidden {
      display: none;
    }

    .brand-proposal-main {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      align-items: center;
      margin: 25px auto;
    }

     sup {
      font-size: 15px; /* Reduce size relative to surrounding text */
      vertical-align: super;
      font-weight: 700;
    }

    .content-approval-flex {
      display: flex;
      flex-direction: row;
      height: auto;
      justify-content: space-between;
    }

    .content-video {
      width: 40%;
      margin-right: 10px;
    }

    .content-video video {
      width: 100%;
      height: auto;
      border: 2px solid black;
    }

    .content-input {
      width: 50%;
    }

</style>

<body>

   <section id="body-section">
    <section id="navbar-body">
      <div id="navbar-flex" class="navbar-header-flex" >
        <a href="{% url 'home' %}"><h1 id="logo"><span>P</span></h1></a>
        <div class="navbar-links">
          {% for url,link in links.items %}
              <a href="{{link.url}}">{{link.name}}</a>
              
          {% endfor %}

              <a href="{% url 'logout' %}">Logout</a>
              <a href="mailto:hello@pluence.in">Email Support</a>
        </div>
        <div class="navbar-menu-flex">
          <span id="maximize-button" onclick="minimizeNavbar()"><i class="fa-solid fa-bars"></i></span>
          <span><a href="{% url 'home' %}"><i class="fa-solid fa-house"></i></a></span>
          <span id="profile" style="word-wrap:break-word"><a href=""><i class="fa-regular fa-circle-user"></i></a></span>
        </div>
        
        
        
      </div>
      
      
    </section>
  
    <section id="content-body">
      {% if messages %}
        {% for message in messages %}
          <p class="error-msg">{{message}}</p> 
        {% endfor %}
      {% endif %} 
      {% block content %} 
    
    
      {% endblock content %}
    </section>
   </section>
  
  
  
</body>

<!-- Google tag (gtag.js) -->
<script async src="https://www.googletagmanager.com/gtag/js?id=G-VMJN5EMEWJ"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'G-VMJN5EMEWJ');
</script>

<script>
  function minimizeNavbar() {
    const navbar = document.getElementById("navbar-body");
    const navbar_btn = document.getElementById("maximize-button");
    const logo = document.getElementById("logo");
    const navbar_links = document.querySelector(".navbar-links");
    const creator_grid = document.querySelector(".creator-grid");
    const content = document.getElementById("content-body");
    const profile = document.getElementById("profile");

    if (navbar.classList.contains("maximized")) {
        navbar.classList.remove("maximized");
        navbar_links.classList.remove("maximized");
        navbar_btn.innerHTML ="<i class='fa-solid fa-bars'></i>"; 
        logo.innerHTML = "<span>P</span>";
        content.style.width="90%";
        profile.innerHTML = "<a href><i class='fa-regular fa-circle-user'></i></a>";
        creator_grid.style.gridTemplateColumns = "repeat(3, minmax(0, 0.8fr))";

    } else {
        navbar.classList.add("maximized");
        navbar_links.classList.add("maximized");
        navbar_btn.innerHTML = "<i class='fa-solid fa-x'></i>";
        logo.innerHTML = "<span>Pluence</span>";
        content.style.width="65%";
        profile.innerHTML = "<a href><i class='fa-regular fa-circle-user'></i> {% if username %}{{username}} {% endif %} </a>";
        creator_grid.style.gridTemplateColumns = "repeat(2, minmax(0, 0.8fr))"; 
      }

  }


</script>

</html>