{% extends "base/form_main.html" %}
{% block content %}

    <section id="form">
        <form method="POST">
        <h2>Forgot Password?</h2>
        {% if form.errors %}
            {% for key, value in form.errors.items %}
              <strong>{{ value }}</strong>
            {% endfor %}
        {%endif%} 
      
        {% csrf_token %}
        <p>Email</p>
        {{form.email}}
        <p><a href="{% url 'signup' %}">Create A New Account</a></p>
        <p><a href="{% url 'login' %}">Back To Login</a></p>
        <button type="submit" class="col-md-12 btn btn-dark">Submit</button>
        </form>   
          

    </section>
    
    
{% endblock content %}
