{% extends 'base/main.html' %}


{% block content %}

    <section id="main">
        <div class="header-flex">
            <div class="account-info">
                <h1>{{proposal.creator.name}}</h1>
                <div class="link-flex">
                    {% if proposal.creator.contact_email %}
                    <a href="mailto:{{proposal.creator.contact_email}}"><i class="fa-solid fa-envelope"></i></a>
                    {% endif %}
                    {% if proposal.creator.website %}
                    <a href="{{proposal.creator.website}}"><i class="fa-solid fa-globe"></i></a>
                    {% endif %}
                </div>    
            </div>
           
            <a href="{% url 'home' %}"><button id="header">Home</button></a>
    
        </div>
        
        <hr>

        <h2>Proposal Details</h2>
    <div class="container">
        <div class="left">
            <h2>Brand Proposal</h2>
            <p><strong>Description:</strong> {{ proposal.description }}</p>
            <p><strong>Timeline:</strong> {{ proposal.timeline }} days</p>
            <p><strong>Proposed Amount:</strong> ${{ proposal.proposed_amount }}</p>
            <p><strong>Status:</strong> {{ proposal.proposal_status }}</p>
        </div>
        <div class="right">
            <h2>Creator Details</h2>
            <p><strong>Name:</strong> {{ creator.name }}</p>
            <p><strong>Email:</strong> {{ creator.contact_email }}</p>
            <p><strong>Website:</strong> <a href="{{ creator.website }}" target="_blank">{{ creator.website }}</a></p>
            <p><strong>Bio:</strong> {{ creator.bio }}</p>
        </div>
    </div>

    </section>

{% endblock %}
 
 
 
    


    

