{% extends 'base/main.html' %}

{% block content %}
    <section id="main">
    
        

        {% if creator.referral_link_code is None %}
            <h1>Referral Dashboard</h1>
            <p><i class="fa-solid fa-square-share-nodes" style="font-size: 160px;"></i></p>
            <p id="refer">Refer Other Creators to Pluence and Earn Upto $1 when they Sign Up Using your link</p>
            <a href="{% url 'create_referral_link' creator.id %}"><button>Create Referral Link</button></a>
        {% else %}
        <h1>Referral Dashboard <i class="fa-solid fa-square-share-nodes"></i></h1>
        <h1 id="payment">${{creator.referral_balance}}</h1>   
        <p>Referred <b>{{creator.referral_link_used}} Creator</b>{% if creator.referral_link_used > 1 %}s{%endif%} to Pluence</p>
        <p style="color: rgb(124, 124, 124);"><i class="fa-solid fa-circle-info"></i> You will be able to Claim your Referral Bonus When you Complete Your First Deal on Pluence</p>           

        <input type="text" id="copyValue" value="{{referral_link}}" hidden>
        <div class="referral-flex">
            <button disabled style="font-size: 14px;text-align: left;">{{referral_link |slice:":40"}}...</button>
            <button id="copyButton"><i class="fa-regular fa-clipboard"></i></button>
        </div>
        
        {% endif %}

        

       

    </section>

    <script>
        document.getElementById("copyButton").addEventListener("click" , function() {
            const copyText = document.getElementById("copyValue")

            copyText.select();
            copyText.setSelectionRange(0 , 99999);

            navigator.clipboard.writeText(copyText.value).then(() => {
                alert("Copied Referral link");
            }).catch(err => {
                console.error("Failed to copy text " , err);
            });
        });
    </script>

{% endblock %}
