{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" href="{% static 'base/images/favicon.ico' %}" type="image/icon">
    
    <!-- SEO Meta Tags -->
    <meta name="description" content="Pluence connects creators with brands to drive successful influencer marketing campaigns. Leverage our expertise to elevate your brand's influence.">
    <meta name="keywords" content="influencer marketing, creator partnerships, brand collaborations, influencer campaigns, Pluence">
    <meta name="author" content="Pluence">

    <!-- Open Graph Meta Tags -->
    <meta property="og:title" content="Pluence - Connecting Creators with Brands">
    <meta property="og:description" content="Pluence specializes in connecting creators with brands for effective influencer marketing campaigns. Discover how we can enhance your brand's reach and engagement.">
    <meta property="og:image" content="https://www.pluence.com/path-to-your-image.jpg">
    <meta property="og:url" content="https://www.pluence.com">
    <meta property="og:type" content="website">
    
    <!-- Twitter Card Meta Tags -->
    <meta name="twitter:card" content="summary_large_image">
    <meta name="twitter:title" content="Pluence - Connecting Creators with Brands">
    <meta name="twitter:description" content="Pluence specializes in connecting creators with brands for effective influencer marketing campaigns. Discover how we can enhance your brand's reach and engagement.">
    <meta name="twitter:image" content="https://www.pluence.com/path-to-your-image.jpg">
    <meta name="twitter:url" content="https://www.pluence.com">
    <meta name="twitter:site" content="@Pluence">
    <meta name="twitter:creator" content="@Pluence">

    <title>Pluence - Influencer Marketing Solutions</title>

    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,100..700;1,100..700&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap"
      rel="stylesheet"
    />

    <link href="https://fonts.googleapis.com/css2?family=Doto:wght@100..900&family=Josefin+Sans:ital,wght@0,100..700;1,100..700&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Doto:wght,ROND@409,42&family=Josefin+Sans:ital,wght@0,100..700;1,100..700&family=Pacifico&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap" rel="stylesheet">

    <script src="https://kit.fontawesome.com/853a55ecdc.js" crossorigin="anonymous"></script>

    
</head>

