{% extends 'base/main.html' %}


{% block content %}
<section id="form">
    <form method="post" action="">
        <h1>Tiktok Integration</h1>
        {% csrf_token %}

        {% for error in form.non_field_errors %}
            <p><span id="error">Enter a Valid Email or Password</span></p>
        {% endfor %}

        {% for field in form %}
            <p>{{field.label_tag}}</p>

            {{field}}
            {% for error in field.errors %}
            <p><span id="error">{{ error }}</span></p>
            {% endfor %}

        {% endfor %}
 
        <button type="submit">Finish Integration</button>
    </form>
</section>

{% endblock %}
